.btn {
  background-color: $color-alert;
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 3%;
  color: $color-main;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: $font-bold;
}