@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

//font-family: 'Open Sans', sans-serif;

/* Variables */

$color-dark: #131313;
$color-light: #bfbfbf;
$color-alert: #cf383e;
$color-main: #FFF;

$font-text: 'Open Sans', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 800;

$base-size: 12px;