//overrides styles in vendor/audio-player
.songs-list {
  h2 {
    font-size: calc($base-size * 1.5);
    font-weight: $font-semibold;
    letter-spacing: .02em;
  }
}

.song {
  width: 100%;
  min-width: 100%;
  height: 35px;
  max-height: 45px;
  padding-left: 14px !important;
  padding-right: 14px !important;

  &_details {
    display: flex;
    justify-content: space-between;

    h5 {
      margin-top: 5px;
      font-size: $base-size;
      font-weight: $font-normal;
      color: $color-light;
      letter-spacing: .05em;
    }
  }
    
  .controls {
    font-size: $base-size !important;
    margin-right: 5px !important;
  }
  
  .volume {
    display: block !important;
  
    .volume__button {
      height: 14px !important;
    }
  }

  .pin {
    background-color: $color-alert !important;
  }
  
  .slider .gap-progress {
    background-color: $color-alert !important;
  }
  
  .play-pause-btn {
    height: 16px !important;
  }
}
  
svg {
  height: 100% !important;
  width: 100% !important;
}