#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

.navigation {
  max-width: calc($base-width * 0.5);
  margin: 50px auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: $color-main;
  font-weight: $font-semibold;
  font-size: 0.25em;
  letter-spacing: 0em;
  text-transform: uppercase;
  
  a {
    color: $color-main;
    text-decoration: none;
    cursor: pointer;

    &.active {
      text-shadow: 4px 4px 8px rgba($color-main, .9);
    }
  }

  @include for-size(xsmall) {
    padding: 0 20px;
  }

  @include for-size(small) {
    padding: 0 40px;
  }

  @include for-size(medium) {
    padding: 0 50px;
  }
}