#pages {
  margin-bottom: 40px;

  h1 {
    letter-spacing: .3em;
    text-transform: uppercase;
    font-weight: $font-semibold;
  }

  h3 {
    letter-spacing: .2em;
    font-size: 14px;
    font-weight: $font-semibold;
    margin-bottom: 25px;
  }

  .search-top {
    margin: 25px auto;
    margin-bottom: 40px;
    max-width: 500px;
  }

  .search-input {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      height: 100%;
      border: none;
      border-radius: 4%;
    }

    @include for-size(xsmall) {
      flex-direction: column;
    }

    @include for-size(small) {
      flex-direction: column;
    }

    @include for-size(medium) {
      flex-direction: row;
    }

  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: $base-width;
  height: calc($base-height * 0.9);
  margin: 50px auto;
  background-image: url('/images/subscribe.jpg');
  background-position: center;
  background-size: cover;
  transition: ease all .5s;

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all .5s;

    @include for-size(xsmall) {
      flex-direction: column;
    }

    @include for-size(small) {
      flex-direction: column;
    }

    @include for-size(medium) {
      flex-direction: row;
    }
  }

  h1 {
    position: absolute;
   
    text-transform: uppercase;
    letter-spacing: .3em;
 
    font-weight: $font-semibold;

    span {
      font-weight: $font-bold;
    }

    @include for-size(xsmall) {
      font-size: 1em;
      top: -10px;
    }

    @include for-size(small) {
      font-size: 1.2em;
      top: -15px;
    }

    @include for-size(medium) {
      top: -30px;
      font-size: 2.5em;
    }
  }

  .subscribe {
    flex: 1 1 30%;
    height: 50px;

    @include for-size(xsmall) {
      padding-top: 0px;
      padding-bottom: 50px;
    }

    @include for-size(small) {
      padding-top: 0px;
      padding-bottom: 50px;
    }

    @include for-size(medium) {
      padding-top: 100px;
      padding-bottom: 0; 
    }
  }

  .details {
    flex: 2 2 100%;
  }

  .event {
    display: flex;
    position: relative;
    text-align: right;
  }

  .artist {
    flex: 1 1 20%;

    @include for-size(xsmall) {
      margin-top: 70px;
      padding-left: 0;
      font-size: 1.5em;
    }

    @include for-size(small) {
      margin-top: 90px;
      padding-left: 0;
      font-size: 1.5em;
    }

    @include for-size(medium) {
      margin-top: 130px;
      padding-left: 5px;
      font-size: 2.3em;
    }

    h2 {
      margin: 0 0;
      font-size: 1em;
      letter-spacing: .2em;
      line-height: 1;

      &:last-of-type {

        @include for-size(xsmall) {
          transform: translate(+50px);
        }

        @include for-size(small) {
          transform: translate(+50px);
        }

        @include for-size(medium) {
          transform: translate(+80px);
        }
      }
  
      span {
        color: $color-alert;
      }
    }
  }

  .image-box {

    @include for-size(xsmall) {
      flex: 1 1 10%;
    }

    @include for-size(small) {
      flex: 1 1 10%;
    }

    @include for-size(medium) {
      flex: 2 2 70%;
    }
  }

  .album {
    margin-top: 5px;
    text-align: right;
    letter-spacing: .3em;
    font-size: .8em;
  }

  .image-wrapper {
    max-width: 200px;
    max-height: 300px;
    // position: absolute;
    // top: 0;
    // right: 0;
    // transform: translate(+40%);
    
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }
  }
}